body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circulo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.lista {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.lista li {
  min-height: 20px;
  min-width: 20px;
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 30px;
}
